main {
	@media (min-width: 600px) {
		display: flex;
	}
}

.main-content {
	max-width: 800px;
	padding-bottom: 40px;
	
	.name {
		margin-left: 40px;
		margin-bottom: 10px;
		font-size: 50px;
		font-weight: normal;
		color: #b81151; 

		@media (max-width: 599px) {
			display: none;
		}
	}

	.sub-text {
		margin: -10px 40px 30px;
		color: #666;
		font-style: italic;
		
		@media (max-width: 599px) {
			display: none;
		}
	}
}

.side-content {
	padding: 0 20px;
	flex: 0 0 300px;
	color: #222;

	@media (min-width: 600px) {
		color: #fff;
		background: linear-gradient(#780206, #061161);
	}
}
