.experience {
	margin: 0 40px;

	h2,
	h3 {
		color: #222;
	}

	h2 {
		border-bottom: 2px solid rgba(28, 134, 233, 0.5);
		margin-bottom: 0.5em;
	}

	h3 {
		margin-top: 1em;
		margin-bottom: 0.5em;
	}

	p {
		margin-top: 0.5em;
	}

	article {
		display: flex;
	}	

	.date {
		padding-top: 0.75em;
		width: 180px;
		color: rgb(28, 134, 233);
		text-align: right;
	}

	.description-side {
		width: 100%;
	}
}
