.experience {
	margin: 0 20px;

	@media (min-width: 600px) {
		margin: 0 40px;
	}

	h2,
	h3 {
		color: #222;
	}

	h2 {
		border-bottom: 2px solid #ad248d98;
		margin-bottom: 0.5em;
		margin-top: 30px;
		text-align: center;

		@media (min-width: 600px) {
			text-align: left;
			margin-top: 20px;
		}
	}

	h3 {
		margin-top: 1em;
		margin-bottom: 0.5em;
	}

	p {
		margin-top: 0.5em;
	}

	article {
		display: flex;
	}	

	.date {
		padding-top: 0.95em;
		width: 50px;
		color: #6345a8;
		text-align: center;
		font-size: 0.9em;
		
		@media (min-width: 600px) {
			width: 180px;
			text-align: right;
		}
	}

	.description-side {
		width: 100%;
	}
}
